<div class="card-container">
    <mat-card class="example-card">
        <h1>WELCOME</h1>
        <!-- <mat-card-header style="padding: 5px 10px;    border-bottom: 1px solid #000;
        padding: 5px 10px;">

            <div style="    display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;">

                <div>
                    <mat-card-title>Users</mat-card-title>
                    <mat-card-subtitle>Employees</mat-card-subtitle>
                </div>
                <div class="button-row" *ngIf="loggedInUser?.role?.name==='ADMIN'">

                    <button mat-raised-button (click)="openModal(UserModel)" color="primary">Add</button>
                </div>
            </div>
        </mat-card-header> -->

    </mat-card>
</div>