<!-- <p>sidebar works!</p>
 -->
<mat-list role="list">
    <!-- <mat-list-item role="listitem"><a href="create">Create</a></mat-list-item>
    <mat-list-item role="listitem"><a href="./../../pages/base/user/user.module.ts">List</a></mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item> -->
    <mat-list-item role="listitem"><a class="sidebar-link" [routerLink]="['/dashboard']">
            <span class="sidebar-link-icon">
                <mat-icon>home</mat-icon>

            </span>
            <span class="sidebar-link-text">
                Dashboard
            </span>
        </a>
    </mat-list-item>
    <mat-list-item role="listitem"><a class="sidebar-link" [routerLink]="['/user']">
            <span class="sidebar-link-icon">
                <mat-icon>supervisor_account</mat-icon>

            </span>
            <span class="sidebar-link-text">

                User Management
            </span>
        </a>
    </mat-list-item>
    <mat-list-item role="listitem"><a class="sidebar-link" [routerLink]="['/chat']">
            <span class="sidebar-link-icon">
                <mat-icon>chat</mat-icon>

            </span>
            <span class="sidebar-link-text">

                Chat
            </span>
        </a>
    </mat-list-item>
</mat-list>