@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

// https://codepen.io/Saminou24/pen/kXEYGB
.file-drop-area {
  border: 1px dashed #7c7db3;
  border-radius: 3px;
  position: relative;
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  // padding: 26px 20px 25px;
  padding: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;

  .file-row{
  display: flex;
    flex-flow: row;
    justify-content: space-between;
    .file-col{
      display: flex;
      flex-direction: column;
  
      .fake-btn {
        // background-color: #3F4069;
        border: 1px solid #9E9EC4;
        border-radius: 3px;
        padding: 8px 15px;
        margin-right: 8px;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
      }
      
      &.file-msg {
        font-size: small;
        font-weight: 300;
        white-space: nowrap;
        // overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: calc(100% - 130px);
        vertical-align: middle;
      }
  
      .preview-image{
        height: 70px;
          width: 80px;
          border: 1px solid #000;
          border-radius: 5px;
      }
      &.flex-direction{
      flex-direction: column;
      }
      }
}

    &.is-active {
      background-color: #3F4069;
    }
}
.tbl-preview-image{
  height: 70px;
  width: 70px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  // height: 100%;
  // width: 100%;
  cursor: pointer;
  opacity: 0;
  
}

.file-input:focus {
  outline: none;
}



.label-title{
  margin-top:10px;
}

.example-card {
    // max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .card-container{
      padding: 50px;
  }

.date-icon{
  position: absolute;
  right: 0;
  bottom: -6px;
  display: flex;
  align-items: center;
}
.date-input{
  width: 100%;
}

::ng-deep .mat-card-header-text {
  margin: 0 0 !important;
}





/*****************************************************
	Custom styling example bellow.
*****************************************************/

.iti {
	display: block !important;
	margin-bottom: 20px;
}

.iti .dropdown-menu.country-dropdown {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-color: #c7cace;
	margin-top: -1px;
}

.iti .iti__country-list {
	box-shadow: none;
	font-size: 14px;
	margin-left: 0;
	width: 244px;
	max-height: 170px;
}

.iti__flag-container.open + input {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.iti .search-container input {
	font-size: 14px;
	border-color: #c7cace;
	border-radius: 0;
	padding: 5px 10px;
}

.iti .search-container input:focus {
	outline: none;
}

@media screen and (max-width: 479px) {
	.iti .iti__country-list {
		width: 88.3vw;
	}
}

ngx-intl-tel-input input {
	height: 44px;
	margin-bottom: 20px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #c7cace;
	border-radius: 4px;
	font-size: 18px;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
	border: 1px solid #c0392b;
}

ngx-intl-tel-input input:hover {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

ngx-intl-tel-input input:focus {
	outline: none !important;
	border-color: #3498db;
	box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
	background-color: #e5eaf1;
}


.mat-table__message{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}