<!-- <p>user works!</p> -->

<div class="card-container">
    <mat-card class="example-card">
        <mat-card-header>
            <div style="    display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;">

                <div>
                    <mat-card-title>{{'USER.MAIN_HEADER'|translate}}</mat-card-title>
                    <mat-card-subtitle>{{'USER.MIDDLE_HEADER'|translate}}</mat-card-subtitle>
                </div>
                <div class="button-row" *ngIf="loggedInUser?.role?.name==='ADMIN'">

                    <button mat-raised-button (click)="openModal(UserModel)"
                        color="primary">{{'USER.LIST.BUTTON.ADD_USER'|translate}}</button>
                </div>
            </div>
        </mat-card-header>

        <mat-card-content>
            <div class="body">
                <div class="mat-table__wrapper">
                    <mat-table class="lmat-elevation-z8" #table [dataSource]="dataSource" matSort #sort1="matSort"
                        matSortActive="id" matSortDirection="asc" matSortDisableClear>

                        <ng-container matColumnDef="srNo">
                            <mat-header-cell *matHeaderCellDef>{{'USER.LIST.TABLE.COLOUM.SR_NO'|translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let user; let i = index;"> {{(i+1) + (pageIndex * 10)}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="profileImage">

                            <mat-header-cell *matHeaderCellDef>{{'USER.LIST.TABLE.COLOUM.PROFILE_PHOTO'|translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let user; let i = index;">

                                <img class="tbl-preview-image" onerror="this.src='assets/error-for-img.jpg'"
                                    src="{{user.profileImage || 'assets/user-avatar.jpg'}}">
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="uniqueId">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{'USER.LIST.TABLE.COLOUM.USER_ID'|translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let user"><b>{{ user?.uniqueId }}</b> </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef>{{'USER.LIST.TABLE.COLOUM.NAME'|translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let user">{{ user?.firstName + ' ' + user?.lastName }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="role">
                            <mat-header-cell *matHeaderCellDef>{{'USER.LIST.TABLE.COLOUM.ROLE'|translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let user">{{ user?.role?.value}}</mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="phoneNumber">
                            <mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'USER.LIST.TABLE.COLOUM.PHONE_NUMBER'|translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let user">{{ user?.phoneNumber }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'USER.LIST.TABLE.COLOUM.EMAIL'|translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let user">{{ user?.email }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="dob">
                            <mat-header-cell *matHeaderCellDef
                                mat-sort-header>{{'USER.LIST.TABLE.COLOUM.DOB'|translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let user">{{ user?.dob |date:'dd/MM/yyyy' }}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef>{{'USER.LIST.TABLE.COLOUM.STATUS'|translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let user">
                                <span *ngIf="user?.status === 'ACTIVE'"
                                    class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success kt-badge--wide">Active</span>
                                <span *ngIf="user?.status === 'DEACTIVE'"
                                    class="kt-badge kt-badge--inline kt-badge--pill kt-badge-- kt-badge--wide">Inactive</span>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>{{'USER.LIST.TABLE.COLOUM.ACTIONS'|translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let user">

                                <button *ngIf="loggedInUser?.role?.name==='ADMIN'" mat-icon-button color="warn"
                                    matTooltip="{{'USER.LIST.TABLE.COLOUM.TOOL_TIPS.DELETE_USER'|translate}}"
                                    type="button" (click)="deleteUser(user, DeleteModel, 'deleted')">
                                    <mat-icon>delete</mat-icon>
                                </button>

                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    matTooltip="{{'USER.LIST.TABLE.COLOUM.TOOL_TIPS.MORE_ACTION_USER'|translate}}">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">

                                    <button mat-menu-item (click)="editDetails(user?._id, UserModel)">
                                        <mat-icon class="edit_icon">create</mat-icon>
                                        <span>{{'USER.LIST.TABLE.COLOUM.TOOL_TIPS.EDIT_INFO_TEXT'|translate}}</span>
                                    </button>

                                </mat-menu>

                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <ng-container *ngIf="(showLoader$ | async) === false">

                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                        </ng-container>
                    </mat-table>

                    <div class="mat-table__message"
                        *ngIf="(dataSource.data.length === 0 || dataSource.filteredData.length === 0) && (loadingSubject | async) === false && (showLoader$ | async) === false">
                        {{'USER.LIST.TABLE.NO_RECORD_FOUND'|translate}}</div>
                </div>

                <div class="mat-table__bottom" *ngIf="loggedInUser?.role?.name==='ADMIN'">
                    <div class="mat-table__message" *ngIf="loadingSubject | async">
                        {{'USER.LIST.TABLE.LOADING_MESSAGE'|translate}}
                        <mat-spinner [diameter]="20" *ngIf="showLoader$ | async"></mat-spinner>
                    </div>
                    <mat-paginator [hidePageSize]="true" [pageIndex]="pageIndex" [pageSize]="limit"
                        [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="false" [length]="totalData"
                        #matPaginator (page)="onPaginationChange($event)">
                    </mat-paginator>
                </div>
            </div>



            <div></div>
        </mat-card-content>

    </mat-card>
</div>



<br>
<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Actions Buttons</mat-card-title>
    <mat-card-subtitle>End</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->
<ng-template #UserModel let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{ formTitle }}</h4>
        <button mat-icon-button class="close-button" (click)="d('Cross click')">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>
    </div>
    <div class="modal-body">
        <form class="example-form" [formGroup]="userForm">
            <!-- <div class="row"> -->
            <div class="file-drop-area"
                [ngStyle]="userForm.get('profileImage')?.touched && userForm.get('profileImage')?.errors?.required &&{'border':'1px dashed #f44336'}">
                <div class="file-row">
                    <div class="file-col flex-direction">
                        <span class="fake-btn" (click)="profileImageInput.focus();fileInput.click();">Choose file</span>
                        <span class="file-msg" *ngIf="fileName">{{fileName}}</span>
                        <!-- <span class="file-msg">or drag and drop file here</span> -->
                    </div>
                    <div class="file-col">
                        <img class="preview-image" src="{{imageUrl || 'assets/user-avatar.jpg'}}" />
                    </div>
                </div>
                <mat-error *ngIf="userForm.get('profileImage')?.touched">
                    <span *ngIf="userForm.get('profileImage')?.errors?.required">

                        {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.PROFILE_PHOTO.REQUIRED'|translate}}
                        <!-- {{'USER.ADD_EDIT_USER_FORM.LABEL_FIELDS.PROFILE_PHOTO'|translate}} -->
                    </span>
                </mat-error>
            </div>
            <input class="file-input" #fileInput type="file" (change)="uploadFile($event)">
            <input type="text" class="file-input" autocomplete="off" #profileImageInput formControlName="profileImage"
                name="profileImage" placeholder="First Name">
            <!-- </div> -->
            <!-- {{userForm.get('profileImage')?.touched}} -->



            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label
                            class="label-title">{{'USER.ADD_EDIT_USER_FORM.LABEL_FIELDS.FIRST_NAME'|translate}}</label>

                        <div class="input-group mb-1">
                            <input type="text" class="form-control" autocomplete="off" formControlName="firstName"
                                name="firstName"
                                placeholder="{{'USER.ADD_EDIT_USER_FORM.PLACE_HOLDERS.FIRST_NAME'|translate}}">
                        </div>
                        <mat-error *ngIf="userForm.get('firstName')?.errors && userForm.get('firstName')?.touched">

                            <span *ngIf="userForm.get('firstName')?.errors?.required">
                                {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.FIRST_NAME.REQUIRED'|translate}}
                            </span>
                            <span *ngIf="userForm.get('firstName')?.errors?.pattern">

                                {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.FIRST_NAME.PATTERN'|translate}}
                            </span>
                        </mat-error>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label
                            class="label-title">{{'USER.ADD_EDIT_USER_FORM.LABEL_FIELDS.LAST_NAME'|translate}}</label>

                        <div class="input-group mb-1">
                            <input type="text" class="form-control" autocomplete="off" formControlName="lastName"
                                name="lastName"
                                placeholder="{{'USER.ADD_EDIT_USER_FORM.PLACE_HOLDERS.LAST_NAME'|translate}}">
                        </div>
                        <mat-error *ngIf="userForm.get('lastName')?.errors && userForm.get('lastName')?.touched">

                            <span *ngIf="userForm.get('lastName')?.errors?.required">

                                {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.LAST_NAME.REQUIRED'|translate}}
                            </span>
                            <span *ngIf="userForm.get('lastName')?.errors?.pattern">
                                {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.LAST_NAME.PATTERN'|translate}}
                            </span>
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="form-group">

                <label class="label-title">{{'USER.ADD_EDIT_USER_FORM.LABEL_FIELDS.EMAIL'|translate}}</label>

                <div class="input-group mb-1">
                    <input type="text" class="form-control" autocomplete="off" formControlName="email" name="email"
                        placeholder="{{'USER.ADD_EDIT_USER_FORM.PLACE_HOLDERS.EMAIL'|translate}}">
                </div>
                <mat-error *ngIf="userForm.get('email')?.errors && userForm.get('email')?.touched">

                    <span *ngIf="userForm.get('email')?.errors?.required">
                        {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.EMAIL.REQUIRED'|translate}}

                    </span>
                    <span *ngIf="userForm.get('email')?.errors?.pattern">
                        {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.EMAIL.PATTERN'|translate}}
                    </span>

                    <span *ngIf="userForm.get('email')?.errors?.emailExist">
                        {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.EMAIL.ALREADY_EXIST'|translate}}

                    </span>

                </mat-error>

            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">

                        <label
                            class="label-title">{{'USER.ADD_EDIT_USER_FORM.LABEL_FIELDS.USER_NAME'|translate}}</label>

                        <div class="input-group mb-1">

                            <input type="text" class="form-control" autocomplete="off"
                                [readonly]="loggedInUser?.role?.name==='USER'" formControlName="userName"
                                name="userName"
                                placeholder="{{'USER.ADD_EDIT_USER_FORM.PLACE_HOLDERS.USER_NAME'|translate}}">
                        </div>
                        <mat-error *ngIf="userForm.get('userName')?.errors && userForm.get('userName')?.touched">

                            <span *ngIf="userForm.get('userName')?.errors?.required">
                                <!-- User name is required. -->
                                {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.USER_NAME.REQUIRED'|translate}}
                            </span>

                            <span *ngIf="userForm.get('userName')?.errors?.userIdExist">
                                <!-- Username already exist. -->
                                {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.USER_NAME.ALREADY_EXIST'|translate}}

                            </span>
                        </mat-error>

                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="form-group">

                            <label
                                class="label-title">{{'USER.ADD_EDIT_USER_FORM.LABEL_FIELDS.PHONE_NUMBER'|translate}}</label>

                            <div class="input-group mb-1">
                                <input type="text" class="form-control" autocomplete="off" formControlName="phoneNumber"
                                    prefix="+91 " name="phoneNumber" mask="0000000000"
                                    placeholder="{{'USER.ADD_EDIT_USER_FORM.PLACE_HOLDERS.PHONE_NUMBER'|translate}}">
                                <!-- <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                                    [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                    [searchCountryFlag]="true" [searchCountryField]="[
                                      SearchCountryField.Iso2,
                                      SearchCountryField.Name
                                    ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India"
                                    [maxLength]="15" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                    [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone">
                                </ngx-intl-tel-input> -->
                            </div>
                            <mat-error class="help-block"
                                *ngIf="userForm.get('phoneNumber')?.errors && userForm.get('phoneNumber')?.touched">

                                <span *ngIf="userForm.get('phoneNumber')?.errors?.required">
                                    <!-- Phone number name is required. -->
                                    {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.PHONE_NUMBER.REQUIRED'|translate}}

                                </span>
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <label class="label-title">{{'USER.ADD_EDIT_USER_FORM.LABEL_FIELDS.ROLE'|translate}}</label>
                <div class="input-group mb-1">
                    <select class="form-control" name="role" autocomplete="off" formControlName="role">
                        <option value="null" disabled>{{'USER.ADD_EDIT_USER_FORM.PLACE_HOLDERS.ROLE'|translate}}
                        </option>
                        <option *ngFor="let role of roleList" [value]="role._id"> {{ role.value }} </option>
                    </select>
                </div>

                <mat-error *ngIf="userForm.get('role')?.errors && userForm.get('role')?.touched">

                    <span *ngIf="userForm.get('role')?.errors?.required">
                        {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.ROLE.REQUIRED'|translate}}

                    </span>
                </mat-error>
            </div>

            <div class="form-group">

                <label class="label-title">{{'USER.ADD_EDIT_USER_FORM.LABEL_FIELDS.DOB'|translate}}</label>
                <div class="input-group mb-1">

                    <input type="text" class="form-control" type="text" (focus)="picker.open()" [matDatepicker]="picker"
                        formControlName="dob" [readonly]="true"
                        placeholder="{{'USER.ADD_EDIT_USER_FORM.PLACE_HOLDERS.DOB'|translate}}">
                    <div class="date-icon">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
                <mat-error *ngIf="userForm.get('dob')?.errors && userForm.get('dob')?.touched">

                    <span *ngIf="userForm.get('dob')?.errors?.required">
                        {{'USER.ADD_EDIT_USER_FORM.INPUT_FIELD_VALIDATION.DOB.REQUIRED'|translate}}

                    </span>
                </mat-error>

            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
        <button type="button" (click)="submit()" class="btn btn-primary" [disabled]="showLoader$ | async">
            <div *ngIf="!isInEditMode;else updateFlag">{{'USER.ADD_EDIT_USER_FORM.BUTTON.SAVE'|translate}}</div>
            <ng-template #updateFlag>{{'USER.ADD_EDIT_USER_FORM.BUTTON.UPDATE'|translate}}</ng-template>
        </button>
    </div>
</ng-template>


<ng-template #DeleteModel let-c="close" let-d="dismiss">
    <h1 mat-dialog-title>

        {{'USER.DELETE_CONFIRM_POPUP.MAIN_TITLE'|translate}}
    </h1>

    <div mat-dialog-content>
        <p>{{'USER.DELETE_CONFIRM_POPUP.MIDDLE_TEXT'|translate}}</p>
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button color="primary" tabindex="1"
            (click)="closeModel(true)">{{'USER.DELETE_CONFIRM_POPUP.BUTTON.YES'|translate}}</button>
        <button mat-raised-button mat-dialog-close tabindex="-1"
            (click)="closeModel(false)">{{'USER.DELETE_CONFIRM_POPUP.BUTTON.NO'|translate}}</button>
    </div>
</ng-template>