<div class="example-container">
    <div class="main-header">
        <h1>Login</h1>
    </div>
    <div>
        <form #loginForm="ngForm" name="loginForm">
            <div class="form-group">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" autocomplete="none" class="form-control"
                        [(ngModel)]="userData.email" name="email" required email #email="ngModel">
                    <mat-error *ngIf="email?.errors?.required">Email id is required</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" autocomplete="none"
                        [(ngModel)]="userData.password" name="password" required password #password="ngModel">
                    <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </a>
                    <mat-error *ngIf="password?.errors?.required">Password is required</mat-error>
                </mat-form-field>
            </div>
        </form>

        <div class="button-row">

            <button mat-raised-button color="primary" (click)="submitLogin()">Login</button>
        </div>
    </div>

</div>