<!-- <p>generate-password works!</p> -->
<div class="example-container">
    <div class="main-header">
        <h1>Generate New Password</h1>
    </div>
    <div>
        <form #newPasswordForm="ngForm" name="newPasswordForm" [mustMatch]="['password', 'cPassword']">

            <div class="form-group">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hideP ? 'password' : 'text'" autocomplete="none"
                        [(ngModel)]="userData.password" name="password" required password #password="ngModel">
                    <a mat-icon-button matSuffix (click)="hideP = !hideP" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideP">
                        <mat-icon>{{hideP ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <!-- <mat-error *ngIf="password?.errors?.required">Password is required</mat-error> -->
                    <mat-error *ngIf="password?.touched && password?.errors?.required">Password is required</mat-error>
                </mat-form-field>

            </div>
            <div class="form-group">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Enter your confirm password</mat-label>
                    <input matInput [type]="hideC ? 'password' : 'text'" autocomplete="none"
                        [(ngModel)]="userData.cPassword" name="cPassword" required cPassword #cPassword="ngModel">
                    <a mat-icon-button matSuffix (click)="hideC = !hideC" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hideC">
                        <mat-icon>{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="cPassword?.touched && cPassword?.errors?.required">Confirm password is
                        required</mat-error>
                    <mat-error *ngIf="cPassword?.touched && cPassword?.errors?.mustMatch">Passwords must
                        match</mat-error>

                </mat-form-field>

                <!-- <mat-error *ngIf="password.touched && !password?.errors?.required && cPassword.touched && !cPassword?.errors?.required &&  cPassword?.value === password">Password and Confirm password should be same</mat-error> -->

            </div>

        </form>

        <div class="button-row">

            <button mat-raised-button color="primary" (click)="submitGeneratePassword()">Submit</button>
        </div>
    </div>

</div>