<!-- <p>generate-password works!</p> -->
<div class="example-container">
    <div class="main-header">
        <h1>Forget Password</h1>
    </div>
    <div>
        <form #resetPasswordForm="ngForm" name="resetPasswordForm">

            <div class="form-group">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" autocomplete="none" class="form-control"
                        [(ngModel)]="userData.email" name="email" required email #email="ngModel">
                    <mat-error *ngIf="email?.errors?.required">Email id is required</mat-error>
                </mat-form-field>

            </div>
        </form>

        <div class="button-row">

            <button mat-raised-button color="primary" (click)="submitResetPassword()">Submit</button>
        </div>
    </div>

</div>