
.mat-form-field{    width: 100%;}

.form-group{
    // margin-top: 5px;
    margin-bottom: 15px  ;
}

.button-row{
    text-align: center;
.mat-raised-button {
    height: 50px;
    width: 100px;}
}

.main-header{
    h1{text-align: center;
    font-size: xx-large;
    font-weight: 500;
    color: #3f51b5;
    margin-bottom: 30px;}}