<!-- <p>generate-password works!</p> -->
<div class="example-container">
    <div class="main-header">
        <h1>{{'FORGET_PASSWORD.MAIN_HEADER' | translate}}</h1>
    </div>
    <div>
        <form #resetPasswordForm="ngForm" name="resetPasswordForm">

            <div class="form-group">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{'FORGET_PASSWORD.LABEL_FIELDS.EMAIL' | translate}}</mat-label>
                    <input matInput placeholder="{{'FORGET_PASSWORD.PLACE_HOLDERS.EMAIL' |
                    translate}}" autocomplete="none" class="form-control" [(ngModel)]="userData.email" name="email"
                        required email #email="ngModel">
                    <mat-error *ngIf="email?.errors?.required">{{'FORGET_PASSWORD.INPUT_FIELD_VALIDATION.EMAIL.REQUIRED'
                        | translate}}</mat-error>
                </mat-form-field>

            </div>
        </form>

        <div class="button-row">

            <button mat-raised-button color="primary" (click)="submitResetPassword()">{{'FORGET_PASSWORD.BUTTON.SUBMIT'
                | translate}}</button>
        </div>
    </div>

</div>